.map-location {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
}

.map-location::before {
  content: "";
  position: absolute;
  bottom: -8px; /* Marker ostiga joylashish */
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 6px;
  background: #000;
  clip-path: polygon(100% 0, 0 0, 50% 100%); /* Uchburchak shakl */
}
